.container-centered {
    margin: auto;
    width: 1024px;
    box-shadow: 10px 10px 40px -1px rgb(0 0 0 / 23%);
    overflow: auto;
    font-family: "Cabin", sans-serif;
    font-size: 18px;
}

.container-left {
    float: left;
    width: 30%;
    background-color: lightblue;
}

.container-right {
    padding-left: 30px;
    margin-top: 30px;
    float: right;
    width: 65%;
}

.avatar img{
    margin-top: 40px;
    margin-left: 40px;
    border: 10px solid lightblue;
    width: 200px;
    border-radius: 50%;
}

.container-left h2 {
    border: 1px solid grey;
    width: 140px;
    margin: auto;
    background-color: rgb(67, 134, 136);
    text-align: center;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    padding: 5px;
}

li p {
    padding-left: 15%;
    margin-top: 0px;
}

.container-right h2 {
    border-bottom: 3px solid rgb(67, 134, 136);
}
h1 {
    text-align: center;
    margin: auto;
    padding: 0px;
    width: 200px;
}

.list-left {
    margin-top: 80px;
}

.list-right {
    margin-top: 100px;
}

nav {
    text-align: center;
    margin: auto;
    width: 1024px;
    background-color: lightblue;
    overflow: auto;
    font-family: "Cabin", sans-serif;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-left: 3%;
    background-color: rgb(67, 134, 136);
    border-radius: 10px;
    font-size: 20px;
    padding: 5px;
}

nav ul li a {
    text-decoration: none;
    color: white;

}

nav ul li a:hover {
    color: rgb(55, 49, 145);
}

footer {
    width: 1024px;
    margin: auto;
    padding-top: 10px;
    font-family: "Cabin", sans-serif;
    font-size: 20px;
    font-weight: 700;
}

footer div {
    display: inline-block;
}

.footblocks {
    float: right;
    margin-left: 10%;
}

.footblocks a {
    position: relative;
    display: inline-block;
    font-family: impact;
    font-size: 2em;
    font-weight: 500;
    color: rgb(0, 0, 0);
    overflow: hidden;
    background: linear-gradient(to bottom, rgb(19, 66, 104), rgb(9, 66, 104) 50%, rgb(0, 0, 0) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position: 100% 100%;
    transition: background-position 500ms;
    text-decoration: none;
}

.footblocks a:hover {
      background-position: 100% 0%;
}
  

.foot-logo img{
    height: 100px;
    width: 200px;
}





